.position-handle {
    position: absolute;
    top: 0px;
}

.forecast-days {
    padding-left: 40px;
}

.header-container {
    left: 20px;
}

.forecast-box {
    display: flex;
    flex-direction: column;
}

.close-btn {
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    right: 5px;
    border: none;
    overflow: hidden;
    padding: 0;
    top: 5px;
    cursor: pointer;
    background: transparent;
    opacity: 0.5;
    font-size: 0;
}

.close-btn::before,
.close-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 2px;
  background-color: black;
  transform: translate(-50%, -50%) rotate(45deg);
}

.close-btn::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.header-text {
    display: flex;
    float: left;
    width: 220px;
    padding-bottom: 40px;
}

.box {
    width: 40%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
  }
  
  .overlay {
    /* position: absolute; */
    float: left;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    min-height: 100vh;
    width: 100vw;
    overflow-y: auto;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 10px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 50%;
    position: relative;
    padding-left: 40px;
    z-index: 20;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
